<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
</head>

<body>

    <video autoplay muted loop id="myVideo">
        <source src="/images/playlistsong.mp4" type="video/mp4">
    </video>
    <table class="table">
        <thead>
            {{#each playlists as |playlist|}}
            <h3>{{playlist.play_name}}</h3>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Artist</th>
                <th scope="col">Song Title</th>
                <th scope="col">Album</th>
            </tr>
        </thead>
        <tbody>
            
            {{#each playlist.songs as | song |}}
            <tr>
                <th scope="row">{{song.playlistsongs.id}}</th>
                <td>{{song.title}}</td>
                <td>{{song.artist}}</td>
                <td>{{song.album}}</td>
            </tr>
            {{/each}}
            {{/each}}
        </tbody>
    </table>
   
</body>

</html>