<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="/images/profilepg.mp4" type="video/mp4">
    </video>

    <div class="profileText">
        <h1>Welcome {{username}}!</h1>
        <div class="profileContainer">

            <div class="project-list">
                <div class="profileTitle">
                    <h2>My Playlist:</h2>
                </div>

                {{#each playlists as |playlist|}}
                <div class="row mb-2">
                    <div class="col-md-12">
                        <h4>Playlist: {{playlist.play_name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <ol>
                        {{#each playlist.songs as | song |}}
                        {{!-- <div class="col-md-6"> --}}
                            <li class="col-md-6 playlist_li">
                                <p>Title: {{song.title}}</p>
                                <p>Artist: {{song.artist}}</p>
                                <p>Album: {{song.album}}</p>
                                <p><img class="playlist_img" src="{{song.img}}"></p>
                            </li>
                        {{!-- </div> --}}
                        {{/each}}
                    </ol>
                </div>
                <hr>
                {{/each}}
            </div>
        </div>
    </div>
    </div>

</body>

</html>